<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">App de tarefas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home" class="mr-2" /> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="criartarefa">
                <MudIcon Icon="@Icons.Material.Filled.NewLabel" class="mr-2" /> Criar nova
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="suastarefas">
                <MudIcon Icon="@Icons.Material.Filled.LinearScale" class="mr-2" /> Suas tarefas
             </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timetarefas">
                <MudIcon Icon="@Icons.Material.Filled.Timeline" class="mr-2" /> Tarefas da equipe
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tarefasexcluidas">
                <MudIcon Icon="@Icons.Material.Filled.RestoreFromTrash" class="mr-2" /> Lixeira
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
